<h1>Editing activity_entry</h1>

<%= render 'form' %>

<%= link_to 'Show', @activity_entry %> |
<%= link_to 'Show Resume', resume_path(@currentResume) %> |
<%= link_to 'User Page', user_path(@user) %>
